{% extends "base/base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-contactpage{% endblock %}

{% block content %}

		<!-- Wrapper -->
		<div class="wrapper">

			<!-- Onovo Intro -->
			<section class="onovo-section onovo-intro intro--black">
				<div class="container">
					<h1 class="onovo-title-1  onovo-text-white">
						<span> {{ page.contact_Title }}</span>
						<span class="onovo-sep word">
							<i class="sep-img" style="background-image: url({% static 'assets/images/title_icon.svg' %});"></i>
						</span>
					</h1>
					<div class="onovo-subtitle-2  onovo-text-white">
						<span> {{ page.contact_Subtitle }} </span>
					</div>
					<div class="onovo-breadcrums">
						<ul>
							<li>
								<a href="/">Home </a>
							</li>
							<li class="current">
								<span>Contact Us</span>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<!-- Onovo Contact Info -->
			<section class="onovo-section gap-top-140">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

							<!-- Heading -->
							<div class="onovo-text gap-bottom-40">
								<h4>{{ page.form_Title }}</h4>
								<p>{{ page.form_Subtitle | richtext }}</p>
								
							</div>
							
							<!-- Form -->
							<div class="onovo-form">
								<form 
									id="cform" 
									class="cform" 
									method="post" 
									action="{% pageurl page %}">
    								{% csrf_token %}
									<div class="row">
										<div class="">
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
											<p>
												<input placeholder="Full Name" type="text" name="name" />
											</p>
											<p>
												<input placeholder="Email Address" type="email" name="email" />
											</p>
												<p>
												<input placeholder="Phone Number" type="tel" name="tel" />
											</p>
												<p>
												<textarea placeholder="Message" name="message"></textarea>
											</p>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
											<p>
												<button type="submit" class="onovo-btn onovo-hover-btn">
													<span>Send Message</span>
												</button>
											</p>
										</div>
									</div>
								</form>
								{% if success %}
									<div class="alert-success">
										<h5>Thanks, your message is sent successfully.</h5>
									</div>
								{% endif %}
							</div>

						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">

							<!-- Contact Info -->
							<div class="onovo-contact-info onovo-text-white">
								<ul>
									<li>
										<h5>Contact Info</h5>
										<a href="mailto:info@catalystdv.com" class="onovo-lnk lnk--white" target="_blank">info@catalystdv.com</a>
										<div class="onovo-social-1 onovo-social-active" style="margin-top: 10px;">
											<ul>
												<li>
													<a href="#" class="onovo-social-link onovo-hover-2">
														<i class="icon fab fa-facebook"></i>
													</a>
												</li>
												<li>
													<a href="#" class="onovo-social-link onovo-hover-2">
														<i class="icon fab fa-instagram"></i>
													</a>
												</li>
												<li>
													<a href="#" class="onovo-social-link onovo-hover-2">
														<i class="icon fab fa-linkedin"></i>
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li>
										<h5>Montreal</h5>
										<div>4388 R. Saint-Denis #182</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</section>

			<!-- Onovo Faq -->
			<section class="onovo-section gap-top-80 gap-bottom-140">
				<div class="container">

					<!-- Heading -->
					<div class="onovo-heading align-center gap-bottom-40">
						<div class="onovo-subtitle-1">
							<span> Client’s FAQ </span>
						</div>
						<h2 class="onovo-title-2">
							<span> Solving Business Problems <br>is An Everyday </span>
						</h2>
					</div>

					<!-- Faq items -->
					<div class="onovo-faq-items">

						{% for block in page.FAQ_Section %}
							{% if block.block_type == 'faq' %}
							<div class="onovo-faq-item onovo-collapse-item">
								<h5 class="title onovo-collapse-btn">
									<span>{{ block.value.title }}</span>
									<i class="arrow"></i>
								</h5>
								<div class="onovo-text" style="display: none;">
									<div>
										<p>{{ block.value.text }}</p>
									</div>
								</div>
							</div>
							{% endif %}
						{% endfor %}
						</div> 
					</div>
			</section>
		</div>
{% endblock %}
