{% extends "base/base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-contactpage{% endblock %}

{% block content %}

<div class="wrapper">

    <!-- Onovo Intro -->
    <section class="onovo-section onovo-intro intro--black">
        <div class="container">
            {% if page.contact_Title %}
                <h1 class="onovo-title-1 onovo-text-white">
                    <span>{{ page.contact_Title }}</span>
                    <span class="onovo-sep word">
                        <i class="sep-img" style="background-image: url({% static 'assets/images/title_icon.svg' %});"></i>
                    </span>
                </h1>
            {% endif %}

            {% if page.contact_Subtitle %}
                <div class="onovo-subtitle-2 onovo-text-white">
                    <span>{{ page.contact_Subtitle }}</span>
                </div>
            {% endif %}

            <div class="onovo-breadcrums">
                <ul>
                    <li><a href="/">{{ page.breadcrumb_home }}</a></li>
                    <li class="current"><span>{{ page.breadcrumb_contact }}</span></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Thank You Section -->
    <section class="onovo-section gap-top-140 gap-bottom-140">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">

                    <div class="onovo-form">
                        <div class="alert-success">
                            <h3>{{ page.breadcrumb_contact }}</h3>
                            <p>{{ page.form_thank_you_text|richtext }}</p>
                        </div>
                    </div>

                    <p style="margin-top: 30px; text-align: center;">
                        <form action="{% pageurl page %}" method="get" style="display: inline;">
                            <button type="submit" class="onovo-btn onovo-hover-btn btn--color">
                                {{ page.form_other_message_text }}
                            </button>
                        </form>
                    </p>


                </div>
            </div>
        </div>
    </section>

    <!-- Optional FAQ Section -->
    {% if page.FAQ_Section %}
    <section class="onovo-section gap-top-80 gap-bottom-140">
        <div class="container">
            <div class="onovo-heading align-center gap-bottom-40">
                <div class="onovo-subtitle-1"><span>{{ page.faq_subtitle }}</span></div>
                <h2 class="onovo-title-2"><span>{{ page.faq_title }}</span></h2>
            </div>

            <div class="onovo-faq-items">
                {% for block in page.FAQ_Section %}
                    {% if block.block_type == 'faq' %}
                        <div class="onovo-faq-item onovo-collapse-item">
                            <h5 class="title onovo-collapse-btn">
                                <span>{{ block.value.title }}</span>
                                <i class="arrow"></i>
                            </h5>
                            <div class="onovo-text" style="display: none;">
                                <div><p>{{ block.value.text|richtext }}</p></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

</div>

{% endblock %}
