{% extends "base/base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

		<!-- Wrapper -->
		<div class="wrapper">
			<!-- Onovo Hero Parallax -->
			<section class="onovo-section">
				<div class="onovo-hero-parallax js-hero-parallax" data-loop="true">

					<!--slide-->
					<div class="onovo-hero-parallax-section">
					<div class="image video" data-dimg="{% static 'assets/images/hero-p-1.jpg' %}" data-mimg="{% static 'assets/images/project-n01-3.jpg' %}">
							<video autoplay muted loop playsinline poster="{% static 'assets/images/hero-p-1.jpg' %}">
								<source src="{% static 'assets/images/stvideo.mp4' %}" type="video/mp4">
							</video>
							<div class="ovrl"></div>
						</div>
						<div class="container">
							<div class="row gap-row">
								<!--service item-->
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<div class="onovo-subtitle-1 onovo-text-white">
										<span data-splitting> {{ page.parralax_Subtitle }} </span>
									</div>
									<div class="title onovo-text-white">
										<span data-splitting> {{ page.parralax_Title }} </span>
										<span class="sep" style="background-image: url({% static 'assets/images/title_after.svg' %});"></span>
									</div>
									<div class="onovo-bts">
										<a class="onovo-btn btn--border onovo-hover-btn btn--color btn--white" href="{{ page.parralax_ButtonLink }}">
											<i class="arrow">
												<span></span>
											</i>
											<span> {{ page.parralax_ButtonText }} </span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--slide-->
					<div class="onovo-hero-parallax-section section--dark">
						<section class="onovo-section gap-top-140 gap-bottom-140 onovo-section-bg onovo-section-full">
						<div class="container">
							<!-- Heading -->
							<div class="row gap-row">
							<div class="onovo-heading gap-bottom-40 align-center">
								<div class="onovo-subtitle-1">
									<span> {{ page.about_Subtitle }} </span>
								</div>
								<h2 class="onovo-title-2">
									<span>{{ page.about_Title }}</span>
								</h2>
							</div>
							</div> 
							<!-- Description -->
							<div class="row gap-bottom-60">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 offset-lg-3 align-center">
									<div class="onovo-text">
										<p>{{ page.about_Description }}</p>
									</div>
									<div class="onovo-bts">
										<a class="onovo-btn btn--border onovo-hover-btn" href="/about-us/">
											<i class="arrow">
												<span></span>
											</i>
											<span> Learn More </span>
										</a>
									</div>
								</div>
							</div>
						</div>
						</section>
					</div>
					<!--slide-->
					<div class="onovo-hero-parallax-section section--dark">
						<section class="onovo-section gap-top-130 gap-bottom-140 onovo-section-bg onovo-section-full">
						<div class="container">
							<!-- Heading -->
							<div class="onovo-heading gap-bottom-40 align-center">
								<h2 class="onovo-title-2">
									<span>Our Services</span>
								</h2>
							</div>
							<!-- Services items -->
							<div class="row gap-row">

								<!--service item-->
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
									<div class="onovo-service-item">
										<div class="image">
											<a href="service-detail.html">
												<img src="{% static 'assets/images/cd-creative-mind.png' %}" alt="Brand Creation" />
											</a>
										</div>
										<div class="onovo-service-item-inner onovo-hover-3 onovo-hover-black">
											<h5 class="title">
												<a href="service-detail.html">
													<span data-splitting data-onovo-scroll> Branding </span>
												</a>
											</h5>
											<div class="list">
												<ul>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Strategy </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Visual Identity System </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Naming </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Guidelines </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Audit and Refresh </span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<!--service item-->
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
									<div class="onovo-service-item">
										<div class="image">
											<a href="service-detail.html">
												<img src="{% static 'assets/images/cd-wwb.png' %}" alt="Web Campaigns" />
											</a>
										</div>
										<div class="onovo-service-item-inner onovo-hover-3 onovo-hover-black">
											<h5 class="title">
												<a href="service-detail.html">
													<span data-splitting data-onovo-scroll> Web Development </span>
												</a>
											</h5>
											<div class="list">
												<ul>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Standard WordPress </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Standard E-commerce </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Custom E-commerce </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> ERP/Portal </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Accountant Portal </span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<!--service item-->
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
									<div class="onovo-service-item">
										<div class="image">
											<a href="service-detail.html">
												<img src="{% static 'assets/images/cd-target.png' %}" alt="Digital Strategy" />
											</a>
										</div>
										<div class="onovo-service-item-inner onovo-hover-3 onovo-hover-black">
											<h5 class="title">
												<a href="service-detail.html">
													<span data-splitting data-onovo-scroll> Digital Strategy </span>
												</a>
											</h5>
											<div class="list">
												<ul>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Paid Ads </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> SEO & Analytics </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Social Media </span>
														</a>
													</li>
													<li>
														<a class="onovo-lnk" href="service-detail.html">
															<span data-splitting data-onovo-scroll> Business Launch </span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</section>
					</div>
					<!--slide-->
					<div class="onovo-hero-parallax-section section--dark">
						<div class="image" data-dimg="{% static 'assets/images/hero-p-3.jpg' %}"></div>
						<div class="container">
							<div class="onovo-subtitle-1 onovo-text-black">
								<span data-splitting> {{ page.portfolio_one_Subtitle }} </span>
							</div>
							<div class="row gap-row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<div class="title onovo-text-black">
										<span data-splitting> {{ page.portfolio_one_Title }} </span>
										<span class="sep" style="background-image: url({% static 'assets/images/title_after.svg' %});"></span>
									</div>
								</div>
							</div>
							<div class="onovo-bts">
								<a class="onovo-btn btn--border onovo-hover-btn" href="{{ page.portfolio_one_ButtonLink }}">
									<i class="arrow">
										<span></span>
									</i>
									<span> {{ page.portfolio_one_ButtonText }} </span>
								</a>
							</div>
						</div>
					</div>

					<!--slide-->
					<div class="onovo-hero-parallax-section">
						<div class="image" style="background-image: url({% static 'assets/images/hero-27.jpg' %});" data-dimg="{% static 'assets/images/hero-27.jpg' %}" data-mimg="{% static 'assets/images/project-8.jpg' %}"></div>
						<div class="container">
							<div class="onovo-subtitle-1 onovo-text-white">
								<span data-splitting> {{ page.portfolio_two_Subtitle }} </span>
							</div>
							<div class="row gap-row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<div class="title onovo-text-white">
										<span data-splitting> {{ page.portfolio_two_Title }} </span>
										<span class="sep" style="background-image: url({% static 'assets/images/title_after.svg' %});"></span>
									</div>
								</div>
							</div>
							<div class="onovo-bts">
								<a class="onovo-btn btn--border onovo-hover-btn btn--color btn--white" href="{{ page.portfolio_two_ButtonLink }}">
									<i class="arrow">
										<span></span>
									</i>
									<span> {{ page.portfolio_two_ButtonText }} </span>
								</a>
							</div>
						</div>
					</div>

					<!--slide-->
					<div class="onovo-hero-parallax-section section--dark">
						<div class="image" style="background-image: url({% static 'assets/images/hero-p-2-1.jpg' %});" data-dimg="{% static 'assets/images/hero-p-2-1.jpg' %}" data-mimg="{% static 'assets/images/project-2-2.jpg' %}"></div>
						<div class="container">
							<div class="onovo-subtitle-1 onovo-text-black">
								<span data-splitting> {{ page.portfolio_three_Subtitle }} </span>
							</div>
							<div class="row gap-row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<div class="title onovo-text-black">
										<span data-splitting> {{ page.portfolio_three_Title }} </span>
										<span class="sep" style="background-image: url({% static 'assets/images/title_after.svg' %});"></span>
									</div>
								</div>
							</div>
							<div class="onovo-bts">
								<a class="onovo-btn btn--border onovo-hover-btn" href="{{ page.portfolio_three_ButtonLink }}">
									<i class="arrow">
										<span></span>
									</i>
									<span> {{ page.portfolio_three_ButtonText }} </span>
								</a>
							</div>
						</div>
					</div>
					<!--slide-->
					<div class="onovo-hero-parallax-section gap-top-140 gap-bottom-140">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
									<!-- Heading -->
									<div class="onovo-heading gap-bottom-40 onovo-text-white">
										<div class="onovo-subtitle-1">
											<span> Get in Touch </span>
										</div>
										<h2 class="onovo-title-2">
											<span> Send Us Your <br>
												<strong>Bright Ideas</strong>
											</span>
										</h2>
									</div>

									<!-- Text -->
									<div class="onovo-cta-text">
										<a href="mailto:info@catalysdv.com" target="_blank">info@catalysdv.com</a>
										<p>Montreal, QC, Canada. </p>
									</div>
									<div class="onovo-bts">
										<a class="onovo-btn btn--border onovo-hover-btn btn--color btn--white align-left" href="/contact/">
											<i class="arrow">
												<span></span>
											</i>
											<span> Contact Us </span>
										</a>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

									<!-- Social -->
									<div class="onovo-cta-social">
										<div class="image">
											<img src="{% static 'assets/images/cta-circle2.png' %}" alt="debug">
											<div class="cta-img-circle img-circle--1"></div>
											<div class="cta-img-circle img-circle--2"></div>
											<div class="cta-img-circle img-circle--3"></div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<!--navs-->
					<div class="onovo-navs js-hero-parallax-navs">
						<div class="onovo-prev js-hero-parallax-prev nav--white onovo-hover-2">
							<i></i>
						</div>
						<div class="onovo-next js-hero-parallax-next nav--white onovo-hover-2">
							<i></i>
						</div>
					</div>

				</div>
			</section>

		</div>
{% endblock %}
