{% extends "base/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-portfolioindexpage{% endblock %}

{% block content %}
    
<!-- Page -->
	<div class="onovo-page footer--fixed">

		<!-- Wrapper -->
		<div class="wrapper">

			<!-- Onovo Intro -->
			<section class="onovo-section onovo-intro intro--black">
				<div class="container">
					<h1 class="onovo-title-1  onovo-text-white">
						<span> {{ page.portfolio_title }} </span>
						<span class="onovo-sep word">
							<i class="sep-img" style="background-image: url({% static 'assets/images/title_icon.svg' %});"></i>
						</span>
					</h1>
					<div class="onovo-subtitle-2  onovo-text-white">
						<span> {{ page.portfolio_subtitle }} </span>
					</div>
					<div class="onovo-breadcrums">
						<ul>
							<li>
								<a href="/">Home </a>
							</li>
							<li class="current">
								<span>Projects </span>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- Onovo Projects -->
			<section class="onovo-section gap-top-140">
				<div class="container">


					<!-- Projects List -->
					<div class="onovo-portfolio">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


								<!-- Filter projects -->
								<div class="onovo-filter-container">
									<div class="onovo-filter js-onovo-filter filter--default">
										<div class="onovo-filter-nav-active"></div>
										<ul>
											<li>
												<button class="onovo-filter-item item--active" type="button" data-filter="*">
													<span>All Projects</span>
												</button>
											</li>
											{% for tag in page.get_tags %}
											<li>
												<button class="onovo-filter-item" type="button" data-filter=".{{ tag.slug }}">
													<span>{{ tag.name }}</span>
												</button>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							<div class="col-12">

                    <!-- Projects items -->
                    <div class="row onovo-portfolio-items">

                        {% for project in page.get_projects %}
                        <div class="col-12 onovo-portfolio-col
                            {% for tag in project.tags.all %}{{ tag.slug }}{% if not forloop.last %} {% endif %}{% endfor %}">
                            
                            <div class="onovo-portfolio-item onovo-portfolio-item-list">
                                <div class="image" data-onovo-overlay data-onovo-scroll>
                                    <a href="{{ project.url }}" class="onovo-hover-3">
                                        {% image project.hero_image fill-600x450 alt=project.title %}
                                    </a>
                                </div>

                                <div class="desc">
                                    <div class="text">
                                        <div data-splitting data-onovo-scroll>
                                            {% for tag in project.tags.all %}
                                                {{ tag.name }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <h5 class="title">
                                        <a class="onovo-lnk" href="{{ project.url }}">
                                            <span data-splitting data-onovo-scroll>{{ project.title }}</span>
                                        </a>
                                    </h5>

                                    <div class="onovo-text">
                                        <div>
                                            <ul data-splitting data-onovo-scroll>
                                                <li>
                                                    <strong>Project Type</strong><br>
                                                    {{ project.project_type }}
                                                </li>
                                                <li>
                                                    <strong>Team</strong><br>
                                                    {{ project.team }}
                                                </li>
                                                <li>
                                                    <strong>Date</strong><br>
                                                    {{ project.date_range }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        {% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}


