{% extends "base/base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}
{% load static %}

{% block body_class %}template-serviceindexpage{% endblock %}

{% block content %}
    
<!-- Wrapper -->
		<div class="wrapper">

			<!-- Onovo Intro -->
			<section class="onovo-section onovo-intro intro--black">
				<div class="container">
					<h1 class="onovo-title-1  onovo-text-white">
						<span> {{ page.title }} </span>
						<span class="onovo-sep word">
							<i class="sep-img" style="background-image: url({% static 'assets/images/title_icon.svg' %});"></i>
						</span>
					</h1>
					<div class="onovo-subtitle-2  onovo-text-white">
						<span> {{ page.intro | richtext}} </span>
					</div>
					<div class="onovo-breadcrums">
						<ul>
							<li>
								<a href="/">{{ page.breadcrumb_home }}</a>
							</li>
							<li class="current">
								<span>{{ page.breadcrumb_services }}</span>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<!-- Onovo Services -->
			<section class="onovo-section gap-top-140 gap-bottom-140">
				<div class="container">

					<!-- Services items -->
						<!-- Services -->
							<div class="row gap-row">

								{% for block in page.services_list %}
									{% if block.block_type == "service" %}
										{% with s=block.value %}
										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
											<div class="onovo-service-item">

												<div class="image">
													<a href="{{ s.link.url }}">
														{% image s.image fill-600x600 %}
													</a>
												</div>

												<div class="onovo-service-item-inner onovo-hover-3 onovo-hover-black">
													<h5 class="title">
														<a href="{{ s.link.url }}">
															<span data-splitting data-onovo-scroll>
																{{ s.title }}
															</span>
														</a>
													</h5>

													<div class="list">
														<ul>
															{% for item in s.items %}
																<li>
																	<a class="onovo-lnk"
																	href="{% if item.link %}{{ item.link.url }}{% else %}{{ s.link.url }}{% endif %}">
																		<span data-splitting data-onovo-scroll>
																			{{ item.text }}
																		</span>
																	</a>
																</li>
															{% endfor %}
														</ul>
													</div>

												</div>
											</div>
										</div>
										{% endwith %}
									{% endif %}
								{% endfor %}

							</div>
					</div>

				</div>
			</section>

			<!-- Onovo Video -->
			<!-- <section class="onovo-section">
				<div class="container"> -->

					<!--video-->
					<!-- <div class="onovo-video" data-onovo-overlay data-onovo-scroll>
						<div class="image" style="background-image: url(assets/images/posts1.jpg);"></div>
						<iframe
						class="js-video-iframe"
						src="{{ page.video_link }}"
						frameborder="0"
						allow="autoplay; fullscreen"
						allowfullscreen>
						</iframe>
						<div class="play onovo-circle-text">
							<div class="arrow"></div>
							<div class="label onovo-text-black onovo-circle-text-label"> {{ page.video_text }} </div>
						</div>
					</div>
 -->
			<!-- 	</div>
			</section> -->

			<!-- Onovo Services -->
			<section class="onovo-section gap-top-140 gap-bottom-140">
				<div class="container">

					<!-- Heading -->
					<div class="onovo-heading gap-bottom-40">
						<div class="onovo-subtitle-1">
							<span> {{ page.about_subtitle }} </span>
						</div>
						<h2 class="onovo-title-2">
							<span> {{ page.about_title }} </span>
						</h2>
					</div>

					<!-- Services items -->
					<div class="onovo-services-list">

						{% for block in page.services %}
							{% if block.block_type == 'service' %}
							<div class="onovo-service-item-list">
								<div class="onovo-service-item-list-inner">

									<div class="image onovo-hover-1">
										{% if block.value.image %}
											{% image block.value.image fill-400x400 %}
										{% endif %}
									</div>

									<div class="num">
										<span>{{ forloop.counter|stringformat:"02d" }}.</span>
									</div>

									<h5 class="title">
										{% if block.value.link %}
											<a href="{{ block.value.link }}">
												<span>{{ block.value.title }}</span>
											</a>
										{% else %}
											<span>{{ block.value.title }}</span>
										{% endif %}
									</h5>

									<div class="onovo-text">
										<div>
											<p>{{ block.value.description }}</p>
										</div>
									</div>

								</div>
							</div>
							{% endif %}
						{% endfor %}

					</div>
					
				</div>
			</section>

			<!-- Onovo Reviews -->
			<!-- Reviews Section -->
            <section class="onovo-section gap-top-40 gap-bottom-140">
                <div class="container">

                    <div class="onovo-reviews gap-140" style="background-color: #000;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <div class="onovo-reviews-carousel reviews--full onovo-text-white align-center">
                                    <div class="swiper-container js-reviews-carousel" data-loop="false" data-autoplay="6000">
                                        <div class="swiper-wrapper">

                                            {% with first_review=page.reviews|first %}
                                                {% if first_review %}
                                                    <div class="swiper-slide onovo-reviews-item" data-swiper-autoplay>
                                                        <div class="text">
                                                            <div data-splitting>
                                                                <p>{{ first_review.value.quote }}</p>
                                                            </div>
                                                        </div>
                                                        <h5 class="title">
                                                            <span data-splitting>{{ first_review.value.name }}</span>
                                                        </h5>
                                                        {% if first_review.value.role %}
                                                        <div class="subtitle">
                                                            <span data-splitting>{{ first_review.value.role }}</span>
                                                        </div>
                                                        {% endif %}
                                                        <div class="onovo-stars stars--small">
                                                            {% for i in "12345"|make_list %}
                                                                {% if forloop.counter <= first_review.value.stars %}
                                                                    <i class="fas fa-star"></i>
                                                                {% else %}
                                                                    <i class="far fa-star"></i>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endwith %}

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>

			<!-- Onovo CTA -->
			<section class="onovo-section onovo-hero gap-bottom-140">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

							<!-- Heading -->
							<div class="onovo-heading gap-bottom-40 onovo-text-white">
								<div class="onovo-subtitle-1">
									<span> {{ page.contact_subtitle }} </span>
								</div>
								<h2 class="onovo-title-2">
									<span>
										<strong>{{ page.contact_title }}</strong>
									</span>
								</h2>
							</div>

							<!-- Text -->
							<div class="onovo-cta-text">
								<a href="mailto:{{ page.contact_email }}" target="_blank">{{ page.contact_email }}</a>
								<p>{{ page.contact_address }}</p>
							</div>
							<div class="onovo-bts">
								<a class="onovo-btn btn--border onovo-hover-btn btn--white align-left" href="/contact/">
									<i class="arrow">
										<span></span>
									</i>
									<span> {{ page.btn_text }} </span>
								</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">

							<!-- Social -->
							<div class="onovo-cta-social">
								<div class="image" style="background-image: url({% static 'assets/images/cta-circle2.png' %});">
									<div class="cta-img-circle img-circle--1"></div>
									<div class="cta-img-circle img-circle--2"></div>
									<div class="cta-img-circle img-circle--3"></div>
								</div>
								<div class="desc">
									<ul>
										<li>
											<a class="onovo-btn btn--white btn--large btn--icon onovo-hover-btn" href="http://facebook.com/catalystdv/" target="_blank">
												<i aria-hidden="true" class="fab fa-facebook-f"></i>
												<span> Facebook </span>
											</a>
										</li>
										<li>
											<a class="onovo-btn btn--white btn--large btn--icon onovo-hover-btn" href="http://instagram.com/catalystdevsolutions/" target="_blank">
												<i aria-hidden="true" class="fab fa-instagram"></i>
												<span> Instagram </span>
											</a>
										</li>
										<li>
											<a class="onovo-btn btn--white btn--large btn--icon onovo-hover-btn" href="http://linkedin.com" target="_blank">
												<i aria-hidden="true" class="fab fa-linkedin-in"></i>
												<span> LinkedIn </span>
											</a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>

{% endblock %}


