{% load wagtailcore_tags %}
{% load static %}


		<!-- Footer -->
		<footer class="onovo-footer footer--dark">
			<div class="footer--default">
				<div class="container">

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">

							<!-- Description -->
							<div class="onovo-text onovo-text-white">
								<h5>About Catalystdev</h5>
								<p style="opacity: 0.6;">Catalystdev is a Montreal-based full-service digital agency. We craft brands, build custom digital platforms, and grow businesses online — with every project handled personally by our small, dedicated team.</p>
							</div>

						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 offset-lg-1">

							<!-- Description -->
							<div class="onovo-text onovo-text-white">
								<h5>Contact Us</h5>
								<p style="opacity: 0.6;">4388 R. Saint-Denis #182 <br />Montreal, QC </p>
								<p style="opacity: 0.6;">
									<a href="mailto:info@catalystdv.com" class="onovo-lnk lnk--white" target="_blank">info@catalystdv.com</a>
								</p>
							</div>

						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 offset-lg-1">

							<!-- Description -->
							<div class="onovo-text onovo-text-white">
								<h5>Legal</h5>
								<p style="opacity: 0.6;"><a href="/terms-and-conditions/" class="onovo-lnk lnk--white" >Terms & Conditions</a>
									<br /></p>
								<p style="opacity: 0.6;"><a href="/privacy-policy/" class="onovo-lnk lnk--white" >Privacy Policy</a><br /></p>
								<p style="opacity: 0.6;"><a href="/cookie-policy/" class="onovo-lnk lnk--white" >Cookie Policy</a></p>
							</div>

						</div>
					</div>

					<div class="separator"></div>

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-self-center">

							<!-- Copyright -->
							<div class="copyright onovo-text-white">
								© 2026 Catalystdev Web Design. All rights reserved.
							</div>

						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-right">

							<!-- Social-->
							<div class="onovo-social-1 onovo-social-active">
								<ul>
									<li>
										<a class="onovo-social-link onovo-hover-2" href="http://linkedin.com" title="LinkedIn" target="_blank">
											<i class="fab fa-facebook"></i>
										</a>
									</li>
									<li>
										<a class="onovo-social-link onovo-hover-2" href="http://linkedin.com" title="LinkedIn" target="_blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
									</li>
									<li>
										<a class="onovo-social-link onovo-hover-2" href="http://dribbble.com" title="Dribbble" target="_blank">
											<i class="fab fa-instagram"></i>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</div>

				</div>
			</div>
        </footer>