{% load wagtailcore_tags static %}

<footer class="onovo-footer footer--dark">
    <div class="footer--default">
        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <div class="onovo-text onovo-text-white">
                        <h5>{{ footer.about_title }}</h5>
                        <div style="opacity:0.6;">
                            {{ footer.about_text|richtext }}
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 offset-lg-1">
                    <div class="onovo-text onovo-text-white">
                        <h5>{{ footer.contact_title }}</h5>
                        <p style="opacity:0.6;">{{ footer.address|linebreaksbr }}</p>
                        <p style="opacity:0.6;">
                            {{ footer.email_label }}:
                            <a href="mailto:{{ footer.email }}"
                               class="onovo-lnk lnk--white">
                                {{ footer.email }}
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 offset-lg-1">
                    <div class="onovo-text onovo-text-white">
                        <h5>{{ footer.legal_title }}</h5>

                        <p>
                            <a href="{{ footer.terms_url }}" class="onovo-lnk lnk--white">
                                {{ footer.terms_label }}
                            </a>
                        </p>

                        <p>
                            <a href="{{ footer.privacy_url }}" class="onovo-lnk lnk--white">
                                {{ footer.privacy_label }}
                            </a>
                        </p>

                        <p>
                            <a href="{{ footer.cookie_url }}" class="onovo-lnk lnk--white">
                                {{ footer.cookie_label }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="separator"></div>

            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="copyright onovo-text-white">
                        {{ footer.rendered_copyright }}
                    </div>
                </div>

                <div class="col-md-6 align-right">
                    <div class="onovo-social-1 onovo-social-active">
                        <ul>
                            {% if footer.facebook_url %}
                            <li>
                                <a class="onovo-social-link onovo-hover-2"
                                   href="{{ footer.facebook_url }}"
                                   target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if footer.linkedin_url %}
                            <li>
                                <a class="onovo-social-link onovo-hover-2"
                                   href="{{ footer.linkedin_url }}"
                                   target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if footer.instagram_url %}
                            <li>
                                <a class="onovo-social-link onovo-hover-2"
                                   href="{{ footer.instagram_url }}"
                                   target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
