{% load wagtailcore_tags %}
{% load static %}

<!-- Header -->
		<header class="onovo-header header--white">
			<div class="header--builder">
				<div class="container">
					<div class="row">
						<div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-3 align-self-center">

							<!-- Logo -->
							<div class="onovo-logo-image" style="max-width: 70px">
								<a href="/">
									<img src="{% static 'assets/images/cd-symbol-purple.png' %}" alt="Onovo" />
									<img class="logo--white" src="{% static 'assets/images/cd-symbol-purple.png' %}" alt="Catalystdev" />
								</a>
							</div>

						</div>
						<div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-6 align-self-center align-center">

							<!-- Menu Hamburger -->
							<a href="#" class="onovo-menu-btn"><span></span></a>
							<div class="onovo-menu-popup align-left">
								<div class="onovo-menu-overlay"></div>
								<div class="onovo-menu-overlay-after"></div>
								<div class="onovo-menu-container onovo--noscroll">
									<div class="container">
										<div class="onovo-menu">
											<ul class="onovo-menu-nav">
												<li class="dropdown-link current-menu-item">
													<a class="onovo-lnk lnk--active" href="home/">Home</a>
												</li>
												<li class="dropdown-link">
													<a class="onovo-lnk lnk--active" href="about-us.html">About</a>
												</li>
												<li class="dropdown-link menu-item-has-children">
													<a class="onovo-lnk lnk--active onovo-dropdown-toggle" href="/portfolio/">Projects</a>
													<i class="icon fas fa-chevron-down"></i>
													<ul class="sub-menu">
														<li>
															<a class="onovo-lnk lnk--active" href="projects.html">Catalyst Tax</a>
														</li>
														<li>
															<a class="onovo-lnk lnk--active" href="projects-list.html">Portal</a>
														</li>
														<li>
															<a class="onovo-lnk lnk--active" href="projects-side.html">E-commerce</a>
														</li>
													</ul>
												</li>
												<li class="dropdown-link menu-item-has-children">
													<a class="onovo-lnk lnk--active onovo-dropdown-toggle" href="blog.html">Services</a>
													<i class="icon fas fa-chevron-down"></i>
													<ul class="sub-menu">
														<li>
															<a class="onovo-lnk lnk--active" href="blog.html">Brand Creation</a>
														</li>
														<li>
															<a class="onovo-lnk lnk--active" href="blog-list.html">Web Development</a>
														</li>
														<li>
															<a class="onovo-lnk lnk--active" href="blog-detail.html">Digital Strategy</a>
														</li>
													</ul>
												</li>
												<li>
													<a class="onovo-lnk lnk--active" href="/contact/">Contact Us</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-3 align-self-center align-right">

							<!-- Button -->
							<a class="onovo-head-btn onovo-hover-btn" href="/portfolio/">
								<span>
									<span class="onovo-lnk lnk--active">Showcase</span>
								</span>
								<i class="arrow">
									<span></span>
								</i>
							</a>

						</div>
					</div>
				</div>
			</div>
		</header>